<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="customadmin_create_listing_data_source" xsi:type="string">UnitSix\Game\Model\ResourceModel\Game\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="UnitSix\Game\Model\ResourceModel\Game\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">computer_games</argument>
            <argument name="resourceModel" xsi:type="string">UnitSix\Game\Model\ResourceModel\Game</argument>
        </arguments>
    </virtualType>
</config>