footer {
    background-color: #93117b;
    padding-bottom: 0 !important;
    .footer.content {
        border: none !important;
        padding-bottom: 0 !important;
        .container {
            display: flex;
            align-items: flex-start;
            gap: 2.4rem;
            justify-content: space-between;
            .col-footer {
                flex-direction: column;
                align-items: flex-start;
                gap: 2rem;
                display: flex;
                .title {
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 2rem;
                    letter-spacing: 0.08rem;
                    color: #fff;
                }
                .links {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.4rem;
                    margin-bottom: 0 !important;
                    padding-right: 0 !important;
                    li {
                        margin-bottom: 0 !important;
                        a {
                            color: #fff;
                        }
                    }
                }
            }
            .quick-links {
                // width: 282px;
            }
            .company {
                .card-type {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.8rem;
                    .group {
                        display: flex;
                        align-items: flex-start;
                        gap: 0.8rem;
                        img {
                            background: #fff;
                            border-radius: 0.4rem;
                            padding: 0.2rem;
                        }
                        img:last-child {
                            width: 100%;
                        }
                    }
                }
            }
            .app {
                gap: 3rem;
                .follow,
                .app-btn {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1.2rem;
                }
                .app-btn {
                    .group-btn {
                        display: flex;
                        flex-direction: column;
                        gap: 0.8rem;
                    }
                }
            }
            .address {
                display: flex;
                width: 38.4rem;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.5rem;
                p {
                    color: #fff;
                }
            }
        }
        .end-footer {
            display: flex;
            justify-content: space-between;
            max-width: 120rem;
            margin: 4rem auto 0;
            padding: 1.6rem 2rem;
            border-top: 0.01rem solid #d252a6;
            align-items: center;
            .copyright,
            .bugs {
                margin-top: 0 !important;
                span {
                    line-height: 3.3rem;
                    color: #fff;
                }
            }
            .bugs {
                display: flex;
                align-items: center;
                gap: 0.8rem;
                a {
                    width: 6.5rem;
                    height: 3rem;
                    flex-shrink: 0;
                    border-radius: 0.5rem;
                    background-color: #fff;
                }
            }
        }
    }
}
