<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Admin:etc/admin_menu.xsd">
    <menu>
       <add 
        id="Custom_MasterRouter" 
        title="My Menu" 
        module="Custom_MasterRouter" 
        sortOrder="100" 
        resource="Custom_MasterRouter::menu" 
        action="customadmin/create/index"
        />
    </menu>
</config>