a{
   text-decoration: none;
   color: #333;
}
a.logo{
    margin: 0 0 25px 0 !important;
}

.header-main-content{
    display: flex;
    justify-content: space-around;
}

.header.content{
   padding: 0 !important; 
}
.custom-search .block-search {
    float: unset;
    width: unset;
}

.custom-search input#search{
    padding: 0;
    margin: 0;
    position: unset;
    border-radius: 8px;
    padding: 21px;
 }

 .user-action{
    display: flex;
    flex-direction: row-reverse;
 }

 .panel.header{
    padding: 0 !important;
 }

 .left-slider,
 .right-imgs{
    width: 50%;
 }

 .right-imgs img{
   width: 100%;
}

.left-slider *{
   height: 100%;
}

.widget.block.block-static-block{
   padding: 0 !important;
}

footer{
   background-color: #ba418a;
}

.footer.content { 
   border: none;
   border-bottom: 1px solid #fff;
}

footer *{ 
   color: #fff !important;
}

.sup-page-title{
   display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}
.product.attribute.sku{
   display: flex;
}

